annotated-types==0.7.0 ; python_version >= "3.11"
black==24.10.0 ; python_version >= "3.11"
click==8.1.7 ; python_version >= "3.11"
colorama==0.4.6 ; python_version >= "3.11" and (sys_platform == "win32" or platform_system == "Windows")
iniconfig==2.0.0 ; python_version >= "3.11"
jinja2==3.1.4 ; python_version >= "3.11"
markdown-it-py==3.0.0 ; python_version >= "3.11"
markupsafe==3.0.2 ; python_version >= "3.11"
mdurl==0.1.2 ; python_version >= "3.11"
mypy-extensions==1.0.0 ; python_version >= "3.11"
packaging==24.2 ; python_version >= "3.11"
pathspec==0.12.1 ; python_version >= "3.11"
platformdirs==4.3.6 ; python_version >= "3.11"
pluggy==1.5.0 ; python_version >= "3.11"
pydantic-core==2.27.1 ; python_version >= "3.11"
pydantic==2.10.3 ; python_version >= "3.11"
pygments==2.18.0 ; python_version >= "3.11"
pytest==8.3.4 ; python_version >= "3.11"
rich==13.9.4 ; python_version >= "3.11"
shellingham==1.5.4 ; python_version >= "3.11"
typer==0.13.1 ; python_version >= "3.11"
typing-extensions==4.12.2 ; python_version >= "3.11"
